@font-face{
  font-family: homa;
  src: url(font/bhoma.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'homa', sans-serif;
}
body{
  background: #222;
}
.card{
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 40px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search input{
  direction: rtl;
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-left: 20px;
  font-size: 18px;
}
.search button{
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.search button img{
  width: 16px;
}
.weather-img{
  width: 170px;
  margin-top: 30px;
}
.weather h1{
  font-size: 80px;
  font-weight: 500;
}
.weather h2{
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  margin-top: 50px;
}
.col{
  display: flex;
  align-items: center;
  text-align: left;
}
.col img{
  width: 40px;
  margin-left: 10px;
}
.humidity , .wind{
  font-size: 28px;
  margin-top: -6px;
}

.weather{
  display: none;
}
.location-not-found{
  direction: rtl;
  text-align: center;
  margin-top: 10px;
  font-size: 10px;
  display: none;
}
